@font-face {
  font-family: 'Libre Franklin';
  src: url('/src/assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('/src/assets/fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
